main{
    width: 75%;
    height: 100vh;
    float: right;
}

@media (max-width:1600px){
    main{
        width: calc(100% - 400px);
    }
}

@media (max-width:1200px){
    main{
        width: 100%;
    }
}