@import '../../../Colors.scss';

.Naslov {
  height: 500px;
  background: url("../../../assets/images/Layout/Naslov.png") no-repeat bottom
    center;
  background-size: cover;
  text-align: center;

  h2 {
    font-size: 100px;
    font-family: "Vladimir";
    color: $main;
    text-transform: capitalize;
    padding-top: 25px;
    font-weight: normal;
  }
}
